<div class="flex justify-center align-middle md:grid md:grid-cols-2 md:gap-0 w-screen h-screen">
  <!-- Hero -->
  <!-- Commit more. Stay current. Grow every day. -->
  <div class="grid grid-flow-row content-center gap-4 justify-center w-full h-screen">
    <div>
      <span class="text-blue-600 dark:text-blue-400">— Davi Mello 👋</span>
      <h1 class="text-5xl leading-tight text-blue-950 dark:text-white">
        Commit more.<br />Stay current.<br />Grow every day.
      </h1>

      <!-- See more button -->
      <div class="my-4">
        <app-button text="See more" (buttonClick)="scrollToAbout()" />
      </div>
    </div>
  </div>

  <!-- Davi photo -->
  <div class="bg-hero h-screen w-full bg-cover bg-center hidden md:inline-block"></div>
</div>
